/* @media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
} */

@media (max-width: 992px) {

    /* .container {
        max-width: 880px;
        width: 100%;
    } */

    .max-container {
        max-width: 786px;
    }

    .nav-bar {
        background: #3a4348 !important;
        position: relative;
        top: 0;
        padding: 0px;
    }

    .scroll-nav-bar {
        height: 40px;
    }

    .scroll-nav-bar .logo {
        margin-left: 70px;
    }

    .scroll-nav-bar .header {
        margin-right: 70px;
    }

    .logo {
        width: 100%;
    }

    .header ul {
        display: none;
        width: 100%;
    }

    .logo button {
        display: inline-block;
    }

    .counter-section .inner-counter {
        margin: auto;
    }

    .price-bar {
        padding: 0px 20px 20px;
    }

    .section-menu a {
        font-size: 14px;
    }

    .lists .list-txt {
        font-size: 14px;
    }

    .lists .list-icons {
        padding-right: 10px;
    }

    /* .container {
        width: 80%;
    } */

}

@media (max-width: 768px) {

    .scroll-nav-bar {
        height: 50px;
    }

    .scroll-nav-bar .logo {
        margin-left: 0px;
    }

    .scroll-nav-bar .header {
        margin-right: 0px;
    }

    .header-content {
        flex-direction: row;
        flex-direction: column;
    }

    .header-content .left-side {
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
    }

    .right-side {
        width: 100%;
    }

    .right-side img {
        padding: 0;
    }

    .right-image {
        position: unset;
    }

    .searchbar {
        flex-direction: column;
        width: 80%;
    }

    .searchbar input[type="text"],
    .searchbar input[type="submit"] {
        width: 100%;
    }

    .mains-section {
        flex-direction: column;
    }

    .service-content {
        margin: 18px 0;
    }

    .service-header {
        margin-bottom: 30px;
    }

    .price-section {
        flex-direction: column;
        padding: 30px;

    }

    .price-bar {
        margin: 30px 0px;
        width: 100%;
    }

    .price-bar a {
        width: 100%;
    }

    .counter-section {
        flex-direction: column;
    }

    .counter-section .inner-counter {
        margin: 10px 0px;
    }

    .main-testimonial-section {
        flex-direction: column;
    }

    .service-header .service-btn {
        flex-direction: column;
        width: 100%;
    }

    .service-header .service-btn a {
        width: 100%;
    }

    .service-head {
        flex-direction: column;
    }

    .ser-img-sec {
        width: 100%;
        padding: 20px;
    }

    .ser-txt-sec {
        width: 100%;
    }

    .emailbar {
        width: 80%;
        max-width: unset;
    }

    .blog-leader {
        flex-direction: column;
    }

    .blogs {
        width: 80%;
    }

    .footer-section {
        flex-direction: column;
        align-items: center;
    }

    .section-menu {
        width: 80%;
    }


}