:root {
    --primary-color: #24bdc9;
    --font-colors: #ffffff;
    --primary-font: 'Poppins';
    --sec-color: #3a4348;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.main-container {
    background: #2ebdc4;
    background: -webkit-linear-gradient(-45deg, #2ebdc4 0%, #68e5b2 100%);
    /* max-height: 1200px; */
    width: 100%;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: 100%;
    padding-top: 20px;
}

/* Onscroll----------------------------- */
.scroll-nav-bar {
    background-color: white;
    height: 80px;
    position: fixed;
    top: 0;
    z-index: 10;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.3s all ease-in-out;
    scroll-behavior: smooth;
    width: 100%;
    margin: 0 auto;
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 10%);
}

.scroll-nav-bar .logo {
    margin-left: 110px;
}

.scroll-nav-bar .logo a {
    color: var(--sec-color);
}

.scroll-nav-bar .logo button {
    color: var(--sec-color) !important;
    background-color: var(--font-colors);
    font-size: 18px;
    font-weight: 500;
}

.scroll-nav-bar .header {
    margin-right: 110px;
}

.scroll-nav-bar .header ul li a {
    color: var(--sec-color);
}

.scroll-nav-bar .header ul li a:hover {
    color: var(--primary-color);
}

.scroll-nav-bar .header-btn {
    border: 1px solid var(--primary-color);
    color: var(--font-colors) !important;
    background-color: var(--primary-color);
}

/* ------------------------------------------------------ */



.logo {
    display: flex;
    justify-content: space-between;
    padding: 14px;
}

.logo a {
    font-family: var(--primary-font);
    font-size: 20px;
    text-decoration: none;
    color: var(--font-colors);
    font-weight: bolder;
}

.bi:empty:before {
    width: 1em;
    text-align: center;
    box-sizing: content-box;
}

.bi-list::before {
    content: '\e09b';
}

.logo button {
    display: none;
    border: none;
    font-family: var(--primary-font);
    color: var(--font-colors) !important;
    opacity: 0.5;
    background-color: #3a4348;
    cursor: pointer;
    padding-right: 0;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 0.1em;
}

.header ul {
    display: flex;
    width: 100%;
}

.header ul li {
    list-style-type: none;
    font-family: var(--primary-font);
    /* cursor: pointer; */
}

.header ul li a {
    text-decoration: none;
    color: var(--font-colors);
    padding: 14px 20px;
    font-size: 14px;
}

.header-btn {
    border: 1px solid var(--font-colors);
    border-radius: 50px;
}

.header-content {
    display: flex;
    margin-top: 80px;
}

.header-content .left-side {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px;
    width: 30%;
}

.header-content .left-side h2 {
    font-size: 44px;
    font-family: var(--primary-font);
    color: var(--font-colors);
    margin-bottom: 24px;
}

.header-content .left-side p {
    font-size: 20px;
    padding: 20px 0px;
    font-family: var(--primary-font);
    /* margin-bottom: 48px; */
}

.header-content .left-side .left-btn {
    margin-bottom: 30px !important;
}

.header-content .left-side p {
    color: var(--font-colors);
}

.header-content .left-side .left-btn p a {
    text-decoration: none;
    color: var(--primary-color);
    background-color: var(--font-colors);
    padding: 16px 24px;
    border-radius: 50px;
    font-size: 16px;
    font-family: var(--primary-font);
}

.right-side {
    /* max-width: 1200px; */
    position: relative;
    width: 70%;
}

.right-image {
    position: absolute;
    /* top: 0; */
}

.right-side img {
    width: 100%;
    padding-top: 70px;
    /* position: absolute; */
}

.domain-section {
    background-color: #f8faff;
    padding: 100px 0px;
}

.content-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content-section p,
.content-section h3,
.content-section h5 {
    margin-bottom: 20px;
    font-family: var(--primary-font);
    text-align: center;
}

.content-section p {
    font-size: 14px;
    color: var(--primary-color);
}

.content-section h3 {
    font-size: 30px;
    color: var(--sec-color);
    font-weight: 400;
}

.content-section h5 {
    font-size: 16px;
    color: #81919a;
    font-weight: 400;
}

.searchbar {
    display: flex;
    border: 1px solid #9ff0c8;
    padding: 20px;
    width: 100%;
    max-width: 700px;
    margin-top: 36px;
}

.searchbar input {
    height: 70px !important;
    border: transparent;
    font-size: 16px;
}

.searchbar input:focus {
    outline: none;
}

.searchbar input[type="text"] {
    padding: 6px 24px;
    color: var(--sec-color);
    width: 60%;
    font-family: var(--primary-font);
}

/* .searchbar input[type="text"]:hover {
    border: 1px solid black;
} */

.searchbar input[type="submit"] {
    padding: 6px 48px;
    background-color: #22d47b;
    color: var(--font-colors);
    width: 40%;
    cursor: pointer;
    font-family: var(--primary-font);
}

.domain-names {
    display: flex;
    font-family: var(--primary-font);
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.domain-names span {
    color: var(--sec-color);
    padding: 20px;
    font-weight: medium;
}

.domain-names span small {
    color: var(--primary-color);
}

.service-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 150px 0px;
}

.service-header {
    margin-bottom: 60px;
    width: 100%;
}

.mains-section {
    display: flex;
}

.service-header p,
.service-header h3 {
    margin-bottom: 20px;
    font-family: var(--primary-font);
    text-align: center;
}

.service-header p {
    font-size: 14px;
    color: var(--primary-color);
}

.service-header h3 {
    font-size: 30px;
    color: var(--sec-color);
    font-weight: 400;
}

.service-content {
    display: flex;
    padding: 0px 20px;
}

.service-banner,
.banner-contents {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.service-banner .banner-icon {
    width: 100%;
    height: 60px;
    margin: 20px 0px;
}

.service-banner .banner-icon img {
    width: 100%;
    height: 100%;
}

.service-content .banner-contents h3 {
    font-size: 20px;
    font-family: var(--primary-font);
    font-weight: 400;
    margin-bottom: 10px;
    padding: 0 18px;
    color: var(--sec-color);
    width: 100%;
}

.service-content .banner-contents p {
    font-size: 16px;
    font-family: var(--primary-font);
    color: #81919a;
    line-height: 1.8;
    padding: 0 30px;
    width: 100%;
}

.price-section {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.price-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    /* border: 1px solid blue; */
    background: var(--font-colors);
    font-family: var(--primary-font);
    padding: 0px 40px 40px;
    margin: 30px 10px;
    width: 30%;
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 10%);
}

.price-bar h2 {
    color: var(--font-colors);
    background-color: #24bdc9;
    border-radius: 0 0 10px 10px;
    font-weight: 400;
    font-size: 14px;
    margin: 0 0 40px;
    padding: 9px 20px;
}

.dollar {
    font-size: 40px;
    color: var(--sec-color);
    font-family: var(--primary-font);
}


.dollar sup {
    font-size: 20px;
    top: -1em;
    color: var(--sec-color);
    font-weight: medium;
}

.dollar span {
    font-weight: 500;
}

.price-bar h3 {
    color: #b3b3b3;
    margin: 0 0 20px;
    font-weight: 400;
    font-family: var(--primary-font);
}

.price-bar a {
    cursor: pointer;
    background-color: #daf6f8;
    color: var(--primary-color);
    padding: 15px 30px;
    text-decoration: none;
    border-radius: 50px;
    font-family: var(--primary-font);
    border: 2px solid #daf6f8;
    margin-bottom: 30px;
}

.price-bar a:hover {
    background-color: var(--font-colors);
    border: 2px solid #4ac7ca;
}

.price-bar p {
    color: var(--sec-color);
    font-size: 16px;
    margin: 0 0 16px;
}

.price-bar p span {
    color: #b3b3b3;
}

.web-counter-section {
    background-image: url(/images/fun-fact.jpg);
    object-fit: cover;
    background-position: center center;
    background-size: cover;
    width: 100%;
    /* height: 200px; */
}

.inner-color-div {
    background: -webkit-linear-gradient(-45deg, #2ebdc4 0%, #68e5b2 100%);
    opacity: 0.9;
    text-align: center;
    font-family: var(--primary-font);
    padding: 100px 0px;
}

.counter-head {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin-bottom: 100px; */
    width: 100%;
}

.counter-head h2 {
    font-size: 40px;
    margin: 0 0 24px;
    color: var(--font-colors);
    font-weight: 400;
}

.counter-head p {
    font-size: 14px;
    margin: 0 0 20px;
    color: var(--font-colors);
    font-weight: 400;
    line-height: 1.8;
}

.counter-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}

.counter-section .inner-counter {
    margin: 0 40px;
}

.counter-section .inner-counter h3 {
    font-size: 30px;
    color: var(--font-colors);
    font-weight: 400;
}

.counter-section .inner-counter p {
    font-size: 16px;
    color: var(--font-colors);
    font-weight: 200;
}

.pt-150 {
    padding: 190px 0;
}

.main-testimonial-section {
    display: flex;
    margin-top: 60px;
}

.testimonial {
    display: flex;
    flex-direction: column;
    background-color: var(--font-colors);
    padding: 24px 24px 48px 24px;
    font-family: var(--primary-font);
    margin: 30px;
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 10%);
}

.testimonial-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.testimonial-img .imagesss {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-position: center center;
    background-size: cover;
    object-fit: cover;
    position: relative;
    margin: -75px 0 48px;
}

.testimonial-img .img-1 {
    background-image: url(/images/customer1.jpg);
}

.testimonial-img .img-2 {
    background-image: url(/images/cus-2.webp);
}

.testimonial-img .img-3 {
    background-image: url(/images/cus-3.webp);
}

.testimonial-img span {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: #e1faee;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    right: 0;
    bottom: -10px;
    font-size: 16px;

}

.testimonial-img span i {
    color: var(#22d47b);
    font-size: 16px;

}

.testimonial .test-text p {
    line-height: 1.8;
    font-size: 16px;
    margin: 0 0 48px;
    color: #81919a;
}

.testimonial .test-text h3 {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 8px;
}

.testimonial .test-text h5 {
    font-size: 13px;
    font-weight: 400;
    color: #81919a;
}

.service-header .service-btn {
    display: flex;
    margin-top: 80px;
    justify-content: center;
    align-items: center;
    padding: 20px;
    /* width: 100%; */
}

.service-header .service-btn a {
    text-decoration: none;
    /* margin: 0 5px; */
    padding: 8px 16px;
    font-size: 18px;
    color: #22d47b;
    font-family: var(--primary-font);
    bordeR: 1px solid #22d47b;
    transition: all 0.3s ease;
    border-radius: 30px;
    text-align: center;
    margin: 5px;
}

.service-header .service-btn .active {
    background-color: #22d47b;
    color: var(--font-colors);
}

.service-header .service-btn a:hover {
    background-color: #22d47b;
    color: var(--font-colors);
}

.service-head {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ser-img-sec {
    width: 50%;
    padding: 30px;
}

.ser-img-sec img {
    border: 1px solid #dee2e6;
    box-shadow: 0px 2px 5px 0px rgb(0 0 0 / 3%);
}

.ser-txt-sec {
    width: 50%;
    padding: 20px;
    font-family: var(--primary-font);
}

.ser-txt-sec h2 {
    font-size: 24px;
    margin: 0 0 24px;
    color: var(--sec-color);
    font-weight: 400;
}

.ser-txt-sec p {
    font-size: 16px;
    margin: 0 0 16px;
    color: #81919a;
    font-weight: 300;

}

.ser-img-sec img {
    max-width: 100%;
}

.div-bac-pro {
    background: linear-gradient(135deg, #2ebdc4 0%, #68e5b2 100%) !important;
    padding: 130px 0px;
}

.emailbar {
    display: flex;
    width: 80%;
    max-width: 300px;
    margin-top: 36px;
    position: relative;
    /* padding: 20px; */
}

.emailbar span {
    position: absolute;
    top: 15px;
    right: 20px;
    color: var(--font-colors);
}

.bi-send-fill::before {
    content: "\f6b9";
}

.emailbar input {
    border: 1px solid rgba(255, 255, 255, 0.7);
    color: var(--font-colors);
    border-radius: 30px;
    background: transparent;
    width: 100%;
    height: 52px !important;
    font-size: 18px;
    box-shadow: none;
    padding: 6px 24px;
    font-family: var(--primary-font);
}

.emailbar input::placeholder {
    color: var(--font-colors);
}

.emailbar input:focus {
    outline: none;
}

.blog-leader {
    display: flex;
    justify-content: center;
    align-items: center;
}

.blogs {
    display: flex;
    flex-direction: column;
    width: 30%;
    background-color: #fff;
    box-shadow: 0 4px 18px -12px rgb(0 0 0 / 75%);
    border: 1px solid #f5f6f7;
    margin: 30px;
}

.blog-img {
    width: 100%;
}

.blog-img a {
    text-decoration: none;
}

.blog-img a img {
    width: 100%;
    height: 340px;
    object-fit: cover;
}

.blogs .blog-txt {
    padding: 24px;
}

.blogs .blog-txt .links {
    margin-bottom: 20px;
}

.blogs .blog-txt .links a {
    font-size: 15px;
    color: #9eaab0;
    font-family: var(--primary-font);
    font-weight: 300;
    text-decoration: none;
}

.blogs .blog-txt .links a:hover {
    color: var(--font-colors);
}

.blogs .blog-txt .links a span {
    padding: 0px 10px;
}

.blogs .blog-txt a {
    text-decoration: none;
    color: var(--sec-color);
    font-size: 20px;
    font-family: var(--primary-font);
    font-weight: 400;
}

.blogs .blog-txt a:hover {
    color: #24bdc9;

}

.footer {
    background-color: #24bdc9;
}

.footer-padding {
    padding: 120px 0;
}

.footer-section {
    display: flex;
    padding: 20px 0px;
    justify-content: center;
}

.section-menu {
    display: flex;
    flex-direction: column;
    text-align: start;
    margin: 20px;
    width: 23%;
    max-width: 100%;
}

.section-menu a {
    text-decoration: none;
}

.sec-top {
    font-size: 18px;
    margin: 0 0 40px;
    color: var(--font-colors);
    font-family: var(--primary-font);
    font-weight: 400;
}

.section-menu a {
    font-size: 18px;
    margin: 0 0 40px;
    color: var(--font-colors);
    font-family: var(--primary-font);
    font-weight: 400;
}

.sec-txt {
    font-size: 16px;
    margin: 0 0 16px;
    color: var(--font-colors);
    font-family: var(--primary-font);
    opacity: 0.7;
}

.sec-txt i {
    padding: 20px;
}

.footer-link {
    padding: 16px;
    background-color: var(--font-colors);
    font-size: 16px;
    border-radius: 30px;
    color: var(--primary-color) !important;
    text-decoration: none;
    font-family: var(--primary-font);
    max-width: 150px;
    text-align: center;
}

.lists {
    display: flex;
}

.lists .list-icons {
    padding-right: 20px;
    font-size: 16px;
    margin: 0 0 16px;
    color: var(--font-colors);
    font-family: var(--primary-font);
    opacity: 0.7;
}

.lists .list-txt {
    font-size: 16px;
    margin: 0 0 16px;
    color: var(--font-colors);
    font-family: var(--primary-font);
    opacity: 0.7;
}

.social-icons {
    display: flex;
    margin: 30px 0;
}


.twitter {
    background-color: var(--font-colors);
    opacity: 0.5;
    border-radius: 50%;
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 8px;
}

.footer-listline {
    font-size: 16px;
    color: var(--font-colors);
    opacity: 0.5;
    margin: 0 auto;
    font-family: var(--primary-font);
    text-align: center;
    width: 80%;
}